/* NAVBAR */

.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 25px 70px;
  z-index: 999;
  background: transparent;
  transition: 0.4s;
}

.navbar-wrapper.scrolled {
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 18px 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */

.logo img {
  width: 150px;
  height: auto;
  filter: brightness(0) invert(1);
}
.scrolled .logo img {
  filter: none;
}

/* HAMBURGER */

.hamburger {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: 0.4s;
}
.scrolled span {
  background: black;
}

.hamburger span:nth-child(1) {
  top: 8px;
}

.hamburger span:nth-child(2) {
  bottom: 8px;
}

/* ACTIVE */

.hamburger.active span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  bottom: 14px;
  transform: rotate(-45deg);
}

/* OVERLAY */

.mobile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  z-index: 998;
}

/* SIDEBAR */

.mobile-sidebar {
  position: fixed;
  inset: 0;
  transform: translateX(100%);
  z-index: 999;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)),
    url("https://img.freepik.com/premium-photo/home-family-real-estate-design-property-architecture-livings-concepts-white-minimal-miniature-small-house-shadow-stripe-pattern-background-with-copy-space-light-shadow-come-alive_36367-10924.jpg?w=1480");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* INNER */

.sidebar-inner {
  width: 100%;
  max-width: 1200px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* CLOSE */

.close-btn {
  position: absolute;
  top: 40px;
  right: 70px;
  font-size: 36px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* MENU */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 120px;
}

/* LINK */

.menu-link {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  transition: 0.4s;
}

/* NUMBER */

.menu-link span {
  font-size: 16px;
  opacity: 0.6;
}

/* HOVER */

.menu-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f3b13b;
  transition: 0.4s;
}

.menu-link:hover::after {
  width: 100%;
}

.menu-link:hover {
  transform: translateX(20px);
  color: #f3b13b;
}

/* FOOTER */

.sidebar-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.socials {
  display: flex;
  gap: 25px;
}

.socials a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  color: #f3b13b;
}

/* MOBILE */

@media (max-width: 768px) {
  .navbar-wrapper {
    padding: 20px 25px;
  }

  .sidebar-inner {
    padding: 40px;
  }

  .menu-link {
    font-size: 36px;
  }

  .close-btn {
    right: 30px;
  }

  .sidebar-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
